body {
	background: url("../img/stype/bg.jpg");
	font-size: 12px;
	line-height: 150%;
}
.box {
	margin:0 auto;
	width:460px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.chess_left {
	float:left;
	text-align:center;
}
.chess {
	float:left;
	display:none;
}
.chess_right{
	height: 360px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* align-items: center; */
	/* border: 1px solid red; */
}
.move_info {
	align-self: flex-start;
    /*左浮动 >150*/
	width: 150px;
}
.steps {
	margin-top:20px;
	height: 50px;
}
#info{
    /*距离棋盘的距离*/
	width: 90px;
    /*棋盘走法进度条长度*/
	height: 200px;
    /*overflow-y 决定如何处理溢出的内容:
    隐藏溢出内容（hidden），或者显示滚动条（scroll），
    或者直接显示溢出内容（visible），或者让浏览器来处理（auto）。*/
	overflow-y: scroll;
}
.bill_box {
	height: 320px;
	width: 80px;
	overflow:auto;
}
.bill_box li {
	cursor:pointer;
	text-align:left
}
/*里面的颜色*/
.bill_box li:hover {
	cursor:pointer;
	background: red;
}
.bill_box li:active {
	cursor:pointer;
	background: #fff;
}
#billList {
	margin-top:20px
}
.bn_box {
	display:none
}